/* GLOBAL */
body {
	background-color: #4b116f;
}

/* 4-column Grid */
@media screen and (min-width: 720px) {
	.twenty-five {
		width: 25% !important;
	}
}


@media screen and (max-width: 720px) {
	.important-dates {
		margin-right: 13px;
		margin-left: 13px;	
	}
}

@media screen and (min-width: 960px) {
	header, article, #twoway {
		width: 960px;	
	}
}

/* GRID */
header, article, #twoway {
	clear: both;	
	margin: auto;
	padding-bottom: 2em;
}

header {
	padding-top: 1.5em;	
}

.center .wrapper {
	
}

.important-dates {
	background: none repeat scroll 0 0 #E9F5D9;
    border: 2px solid #FFCC00;
	
}

.important-dates h2 {
	color: #4b116f;
}

/*TYPOGRAPHY*/

body {
	font-family: "Bitter";
}

h1 {
	margin: 0px;
	
}

h2 {
	font-size: 1.2em;	
}

h2, h3 {
	color: #ffcc00;
	font-weight: bold;
	margin-bottom: .5em;
	margin-top: .5em;
}

p {
	color: #ffffff;	
	font-size: .8em;
}

table p {
	color: #000000;	
}

.open-house h3 {
	color: #FFFFFF;
	font-style: italic;	
}

table {
	margin-bottom: .75em;
}

table .date {
	width: 25%;
	min-width: 120px;
	vertical-align: top;
}

table .description {
	width: 65%;
}