/* GLOBAL */

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}

body {
	background-color: #4B116F;
    background-image: url("assets/background.png");
    background-repeat: repeat-x;
}

/* 4-column Grid */
@media screen and (min-width: 720px) {
	.twenty-five {
		width: 25% !important;
	}


	.seven-twenty-show {
		left: -50%;
		position: relative;
	}
	
	.important-dates {
		left: 25%;
		position: relative;
	}
}

@media screen and (max-width: 720px) {
	.important-dates {
		margin-right: 13px;
		margin-left: 13px;	
	}
	
	.virtual-tours, .faq, .contract-terms, .contact-us, .recontract-2012, .open-house {
		width: 50%;
		float: left;
	}
	
	.important-dates {
		clear: both;	
	}
	
	#button {
		text-align: right;
	}
	
	#button img {
			
	}
	
	h2 {
		font-size: 1em !important;	
	}
	
	#button {
		width: 35% !important;
	}
	
	#students {
		width: 65% !important;	
	}
}

@media screen and (min-width: 960px) {
	header, article, #twoway {
		width: 960px;	
	}
}

@media screen and (max-width: 960px) {
	.first {
	
	}
}
/* IE FIXES */

.twoway {
	*width:960px;	
}

#button {
	margin-bottom: 20px;
}

.recontract-2012, .open-house {
	*display: block;
	*width: 22%;
	*float: left;	
}

.important-dates {
	*display: block;
	*width: 43%;
	*float: left;
	*position: relative;
	*left: 25%;
}

.open-house {
	*float: right;	
}

.seven-twenty-show {
	*position: relative;
	*left: -50%;
}

.virtual-tours, .faq, .contract-terms, .contact-us {
	*float: left;
	*width: 20%;	
}

.first, .second {
	*position: relative;
	*top: -40px;
}

.faq-button {
	*position: relative;
	*top: -50px;
}

#uni-dor {
	*position: relative;
	*top: 50px;	
}

/* GRID */
header, article, #twoway {
	clear: both;	
	margin: auto;
}

article .wrapper {
margin-bottom: 1em;	
}

header {
	padding-top: 1.5em;	
	margin-bottom: 2em;
}

.important-dates {
	box-shadow: 0 0 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	-moz-box-shadow: 0px 0px 6px #000000;
	background: none repeat scroll 0 0 #E9F5D9;
    border: 2px solid #FFCC00;
	border-radius: 3px 3px 3px 3px;
}

#subheader {
	
}

#subheader #students {
	display: inline-block;
    float: left;
    margin-top: -7%;
    position: relative;
    width: 74%;
}

#subheader #students img {
	
}

#subheader #button {
	display: inline-block;
    float: right;
    width: 25%;
}

#subheader #button img {
	float: right;
}

/*TYPOGRAPHY*/

body {
	line-height: 1.25em;	
}

a:link, a:visited, a:focus, a:active {
	color: #FFFFFF;
	text-decoration: none;	
}

a:hover {
	color: #FFCC00;	
}

body {
	font-family: "Bitter";
}

h1 {
	margin: 0px;
	
}

h2 {
	font-size: 1.2em;	
}

h3 {
	font-size: .85em;	
}

h2, h3 {
	color: #ffcc00;
	font-weight: bold;
	margin-bottom: .5em;
	margin-top: .5em;
}

p {
	color: #ffffff;	
	font-size: .85em;
}

table tr {
	line-height: 1.25em;	
}

table p, table a:link, table a:visited, table a:active {
	color: #000000;	
}

table a:hover {
	color: #4b116f;	
}

.important-dates h2 {
	color: #4b116f;
}

.open-house h3 {
	color: #FFFFFF;
	font-style: italic;	
}

table {
	margin-bottom: .75em;
}

table .date {
	width: 25%;
	min-width: 120px;
	vertical-align: top;
}

table .description {
	width: 65%;
}

#recontracting-text {
	color: #FFFFFF;
    font-size: 81%;
    font-weight: bold;
    left: -4%;
    position: relative;
    text-align: right;
    top: -13px;
	*top: -9px;
}

/* MISC */


.faq-button {
	position: relative;
    text-align: center;
    top: -19px;
}