/* GLOBAL */
body {
	background-color: #4B116F;
    background-image: url("assets/background.png");
    background-repeat: repeat-x;
}

#students img {

}

/* 4-column Grid */
@media screen and (min-width: 720px) {
	.twenty-five {
		width: 25% !important;
	}
	
	.seven-twenty-show {
		display: none;	
	}
	
	.seven-twenty-hide {
		display: block;
	}
}


@media screen and (max-width: 720px) {
	.important-dates {
		margin-right: 13px;
		margin-left: 13px;	
	}
	
	.virtual-tours, .faq, .contract-terms, .contact-us, .recontract-2012, .open-house {
		width: 50%;
		float: left;
	}
	
	.important-dates {
		clear: both;	
	}
	
	#button {
		text-align: right;	
	}
	
	#button img {
			
	}
	
	.seven-twenty-show {
		display: block;	
	}
	
	.seven-twenty-hide {
		display: none;
	}
	
	h2 {
		font-size: 1em;	
	}
}

@media screen and (min-width: 960px) {
	header, article, #twoway {
		width: 960px;	
	}
}

@media screen and (max-width: 960px) {
	.first {
	
	}
}

/* GRID */
header, article, #twoway {
	clear: both;	
	margin: auto;
}

article .wrapper {
margin-bottom: 1em;	
}

header {
	padding-top: 1.5em;	
	margin-bottom: 2em;
}

.important-dates {
	background: none repeat scroll 0 0 #E9F5D9;
    border: 2px solid #FFCC00;
	border-radius: 3px 3px 3px 3px;
}

#subheader {
	
}

#subheader #students {
	display: inline-block;
    width: 75%;
	margin-top: -7%;
}

#subheader #students img {
	
}

#subheader #button {
	display: inline-block;
    float: right;
    width: 25%;
}

#subheader #button img {
	float: right;
}

/*TYPOGRAPHY*/

body {
	line-height: 1.15em;	
}

a:link, a:visited, a:focus, a:active {
	color: #FFFFFF;
	text-decoration: none;	
}

a:hover {
	color: #FFCC00;	
}

body {
	font-family: "Bitter";
}

h1 {
	margin: 0px;
	
}

h2 {
	font-size: 1.2em;	
}

h3 {
	font-size: .85em;	
}

h2, h3 {
	color: #ffcc00;
	font-weight: bold;
	margin-bottom: .5em;
	margin-top: .5em;
}

p {
	color: #ffffff;	
	font-size: .85em;
}

table p {
	color: #000000;	
}

.important-dates h2 {
	color: #4b116f;
}

.open-house h3 {
	color: #FFFFFF;
	font-style: italic;	
}

table {
	margin-bottom: .75em;
}

table .date {
	width: 25%;
	min-width: 120px;
	vertical-align: top;
}

table .description {
	width: 65%;
}

/* MISC */

.first {
	
}

#faq-button {
	background-image: url(assets/FAQ.png);
	background-repeat: no-repeat;
}

#faq-button:hover {
	background-image:url(assets/FAQ-hover.png);
}

.faq-button {
	text-align: center;
}